a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.user-background {
  background: var(--secondary-bg-color);
  box-shadow: var(--box-shadow2);
  border-radius: 15px;
}
.user {
  width: 85.3%;
  margin: 0 auto;
}
.user__title-container {
  display: flex;
  padding-top: 32px;
  margin-bottom: 33px;
}
.user__avatar-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 19px;
}
.user__avatar {
  height: 100%;
  width: 100%;
}
.user__name {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--h1-color);
}
.user__login a {
  font-size: 13px;
  line-height: 19px;
  color: #0079ff;
}
.user_joined-day {
  font-size: 13px;
  line-height: 19px;
  color: var(--joined-text-color);
}
.user__bio {
  font-size: 13px;
  line-height: 25px;
  color: var(--text-color);
  margin-bottom: 23px;
}
.user__repos-followers-following-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--primary-bg-color);
  border-radius: 10px;
  height: 85px;
  margin-bottom: 24px;
}
.user__bio,
.user__repos-followers-following-container,
.user__links-container {
  max-width: 480px;
}
.user__repos,
.user__followers,
.user__following {
  text-align: center;
}
.user__repos__name,
.user__followers__name,
.user__following__name {
  font-size: 11px;
  line-height: 16px;
  color: var(--text-color);
  margin-bottom: 8px;
}
.user__repos__num,
.user__followers__num,
.user__following__num {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: var(--h1-color);
}
.user__location,
.user__blog,
.user__twitter,
.user__company {
  display: flex;
  margin-bottom: 16px;
}
.user__Link-icons {
  margin-right: 13px;
}
.user__Link-icons path {
  fill: var(--text-color);
}
.link-not-avalible,
.link-not-avalible span,
.link-not-avalible a {
  pointer-events: none !important;
  color: #ccc !important;
}
.link-not-avalible svg path {
  fill: #ccc !important;
}
.user__links-container {
  padding-bottom: 48px;
}
.user__links-container span,
.user__links-container a {
  font-size: 13px;
  line-height: 19px;
  color: var(--text-color);
}

/* tablet */
@media (min-width: 768px) {
  .user {
    width: 86.02%;
  }
  .user__title-container {
    padding-top: 40px;
    margin-bottom: 24px;
  }
  .user__avatar-container {
    width: 117px;
    height: 117px;
    margin-right: 41px;
  }
  .user__name {
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 2px;
  }
  .user__login {
    margin-bottom: 4px;
  }
  .user__login a {
    font-size: 16px;
    line-height: 24px;
  }
  .user_joined-day {
    font-size: 15px;
    line-height: 22px;
  }
  .user__names-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .user__bio {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 32px;
  }
  .user__repos-followers-following-container {
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  .user__repos {
    margin: 0 99px 0 32px;
  }
  .user__followers {
    margin-right: 82px;
  }
  .user__repos__name,
  .user__followers__name,
  .user__following__name {
    font-size: 13px;
    line-height: 19px;
  }
  .user__repos__num,
  .user__followers__num,
  .user__following__num {
    font-size: 22px;
    line-height: 33px;
  }
  .user__links-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
  .user__location,
  .user__blog,
  .user__twitter,
  .user__company {
    flex-basis: 50%;
  }
  .user__location {
    order: 1;
  }
  .user__blog {
    order: 3;
  }
  .user__twitter {
    order: 2;
  }
  .user__company {
    order: 4;
  }
}

/* destop */
@media (min-width: 980px) {
  .user__avatar-container {
    margin-right: 37px;
  }
  .user__names-container {
    position: relative;
    flex-grow: 2;
  }
  .user_joined-day {
    position: absolute;
    top: 32.5px;
    right: 0;
  }
  .user__bio,
  .user__repos-followers-following-container,
  .user__links-container {
    margin-left: auto;
  }
  .user__title-container {
    margin: 0;
  }
}
