a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.user-background {
  background: var(--secondary-bg-color);
  box-shadow: var(--box-shadow2);
  border-radius: 15px;
}
.user {
  width: 85.3%;
  margin: 0 auto;
}
.user__title-container {
  display: flex;
  padding-top: 32px;
  margin-bottom: 33px;
}
.user__avatar-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 19px;
}
.user__avatar {
  height: 100%;
  width: 100%;
}
.user__name {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--h1-color);
}
.user__login a {
  font-size: 13px;
  line-height: 19px;
  color: #0079ff;
}
.user_joined-day {
  font-size: 13px;
  line-height: 19px;
  color: var(--joined-text-color);
}
.user__bio {
  font-size: 13px;
  line-height: 25px;
  color: var(--text-color);
  margin-bottom: 23px;
}
.user__repos-followers-following-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--primary-bg-color);
  border-radius: 10px;
  height: 85px;
  margin-bottom: 24px;
}
.user__repos,
.user__followers,
.user__following {
  text-align: center;
}
.user__repos__name,
.user__followers__name,
.user__following__name {
  font-size: 11px;
  line-height: 16px;
  color: var(--text-color);
  margin-bottom: 8px;
}
.user__repos__num,
.user__followers__num,
.user__following__num {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: var(--h1-color);
}
.user__location,
.user__blog,
.user__twitter,
.user__company {
  display: flex;
  margin-bottom: 16px;
}
.user__Link-icons {
  margin-right: 13px;
}
.user__Link-icons path {
  fill: var(--text-color);
}
.link-not-avalible,
.link-not-avalible a {
  pointer-events: none !important;
  color: #ccc !important;
}
.link-not-avalible svg path {
  fill: #ccc !important;
}
.user__links-container span,
.user__links-container a {
  font-size: 13px;
  line-height: 19px;
  color: var(--text-color);
}
.user__company {
  padding-bottom: 48px;
}
