header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 36px auto;
  padding-top: 31px;
}

.header_logo-text {
  color: var(--logo-text-color);
  font-size: 26px;
  font-weight: bold;
  line-height: 38px;
}

.header_light-dark-mode {
  display: flex;
  color: var(--text-color);
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 2.5px;
  cursor: pointer;
}

.header_light-dark-mode span {
  padding-right: 16px;
}

/* Sun effect */
.header_light-dark-mode #sun {
  transition: transform 0.5s linear;
}
.header_light-dark-mode:hover #sun {
  transform: scale(1.1) rotate(90deg);
}
.header_light-dark-mode:hover #sun path {
  fill: var(--sun-hover-color);
}
.header_light-dark-mode:hover #sun-text {
  color: var(--sun-hover-color);
}

/* moon effect */
.header_light-dark-mode #moon {
  transition: transform 0.5s linear;
}
.header_light-dark-mode:hover #moon {
  transform: scale(1.1) rotateY(180deg);
}
.header_light-dark-mode:hover #moon path {
  fill: var(--moon-hover-color);
}
.header_light-dark-mode:hover #moon-text {
  color: var(--moon-hover-color);
}

@media (min-width: 768px) and (max-width: 1439px) {
  header {
    padding-top: 142px;
  }
}
