@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
  --primary-bg-color: #f6f8ff;
  --secondary-bg-color: #fefefe;
  --text-color: #4b6a9b;
  --h1-color: #2b3442;
  --blue: #0079ff;
  --logo-text-color: #222731;
  --moon-hover-color: #222731;
}

.dark-theme {
  --primary-bg-color: #141d2f;
  --secondary-bg-color: #fefefe;
  --text-color: #ffffff;
  --h1-color: #ffffff;
  --logo-text-color: #ffffff;
  --sun-hover-color: #90a4d4;
}

* {
  box-sizing: border-box;
}

body,
#root,
#container {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#root {
  background: var(--primary-bg-color);
}

#container {
  font-family: 'Space Mono', sans-serif;
  width: 87.2%;
  margin: auto;
}
